.container {
    background-color: red;
    margin-top: 10px;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
}

.div1 {
    background-color: green;
    margin-top: 10px;
    height: 50px;
    width: 50px;
}

.div2 {
    background-color: blue;
    height: 50px;
    width: 50px;
}