body {
	background-color: #e9ebee;
	font-family: Arial, Helvetica, sans-serif;
}

/*------------BANER------------*/

.baner {
	position: absolute;
	top: 0;
	left: 0;
	height: 60px;
	width: 100%;
	display: flex;
	flex-direction: row;
	background-color: white;
	box-shadow: 10px 6px 5px #d9d9d9;
}

.textBaner {
	display: flex;
	width: 220px;
	align-items: center;
	justify-content: center;
}


#banerText {
	margin: 0px;
	font-weight: bold;
	font-size: 25px;
	color: #0066ff;
	text-shadow: 2px 2px #d9d9d9;
}


/*------------MAIN------------*/

#mainEmail {
	height: 340px;
	width: 600px;
	border-radius: 6px;
	margin: auto;
	margin-top: 200px;
	box-shadow: 5px 5px 20px #cccccc;
	background-color: white;
}

#mainEmail #divText {
	width: 100%;
	height: 160px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

#mainEmail #hiDiv {
	height: 70px;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid #e5e5e5;
	color: #0066ff;
}

#mainEmail #infoDiv {
	width: 100%;
	text-align: center;
	margin-top: 30px;
	padding: 0 10px;
}

#mainEmail #emailDiv {
	width: 100%;
	text-align: center;
}

#emailDiv #email {
	margin: 0px;
	color: #0066ff;
	background-color: white;
}

#mainEmail #inputDiv {
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#mainEmail #input {
    -webkit-transition: 0.5s;
    font-size: 18px;
    height: 48px;
    line-height: 48px;
    margin: 10px;
    width: 80%;
  	border: none;
  	border-bottom: 1px solid #bfbfbf;
  	white-space: nowrap;
  	overflow: hidden;
    background-color: white;
  	color: black;
}

#mainEmail #input:focus {
	border-bottom: 1px solid #0066ff;
	outline: none;
}


#mainEmail #buttonDiv {
	border-top: 1px solid #e5e5e5;
	height: 60px;
	width: 100%;
	margin-top: 60px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

#mainEmail #undo {
	line-height: 36px;
	margin-right: 20px;
	padding: 0px 20px;
	border: none;
	border-radius: 6px;
	font-size: 16px;
	text-decoration: none;
	color: black;
	cursor: pointer;
	background-color: #e4e6eb;
}

#mainEmail #submit {
	color: white;
	margin-right: 20px;
	line-height: 36px;
	padding: 0 20px;
	border: none;
	border-radius: 6px;
	font-size: 16px;
	cursor: pointer;
	background-color: #0066ff;
}


@media (max-width:700px) {
    #mainEmail #buttonsDiv {
        flex-direction: column;
    }
    #mainEmail #back {
    	margin: auto;
    }

    #mainEmail #submit {
    	margin: auto;
    }
}





