body {
    background-color: #d9d9d9;
}

#background {
    position: absolute;
    height: 350px;
    width: 550px;
    border: none;
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

#textsDiv {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#text1Div {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#text1 {
    margin: 0;
    text-align: center;
    font-size: 30px;
}

#text2Div {
    margin-top: 20px;
    height: 60px;
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#text2 {
    text-align: center;
}

#buttonDiv {
    margin-top: 20px;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#submit {
    height: 50px;
    width: 170px;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 15px;
    background-color: #0099ff;
}

#bottomTextDiv {
    margin-top: 35px;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#bottomText {
    margin: 25px;
    text-align: center;
    color: #a6a6a6;
}








