body {
	background-color: #e9ebee;
	font-family: Arial, Helvetica, sans-serif;
}

/*------------BANER------------*/

.baner {
	position: absolute;
	top: 0;
	left: 0;
	height: 60px;
	width: 100%;
	display: flex;
	flex-direction: row;
	background-color: white;
	box-shadow: 10px 6px 5px #d9d9d9;
}

.textBaner {
	display: flex;
	width: 220px;
	align-items: center;
	justify-content: center;
}


#banerText {
	font-size: 25px;
	color: #0066ff;
	text-shadow: 2px 2px #d9d9d9;
}


/*------------MAIN------------*/


#content {
	position: absolute;
	left: 50%;
	top: 0px;
	height: 500px;
	width: 40%;
	transform: translate(-50%, 40%);
	border-radius: 6px;
	background-color: white;
	box-shadow: 5px 5px 20px #cccccc;
}

#textHolder {
	margin-top: 30px;
	height: 140px;
	width: 100%;
	display: flex;
	flex-direction: column;
}

#textDiv1 {
	height: 100px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#text1 {
	margin: 0px;
	font-size: 40px;
	text-align: center;
	color: #0066ff;
}

#textDiv2 {
	height: 30px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#text2 {
	text-align: center;
	margin: 0px;
	color: #bfbfbf;
}

#stuff {
	margin-right: auto;
	margin-left: auto;
	height: 300px;
	width: 80%;

}

#inputsDiv {
	height: 200px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.input {
    -webkit-transition: 0.5s;
    font-size: 18px;
    line-height: 48px;
    margin: 10px;
    width: 90%;
  	border: none;
  	border-bottom: 1px solid #bfbfbf;
  	white-space: nowrap;
  	overflow: hidden;
    background-color: white;
  	color: black;
}

.input:focus {
	border-bottom: 1px solid #0066ff;
	outline: none;
}

i {
	margin-left: -40px;
	cursor: pointer;
}

#submitDiv {
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: right;
}

#button {
	padding: 0 20px;
	height: 48px;
    border: none;
    margin-top: 10px;
    border-radius: 6px;
    font-size: 25px;
    color: white;
    background-color: #0066ff;
}






