body {
    background-color: #e9ebee;
    font-family: Arial, Helvetica, sans-serif;
}

/*------------BANER------------*/

.baner {
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: white;
    box-shadow: 10px 6px 5px #d9d9d9;
}

.textBaner {
    display: flex;
    width: 220px;
    align-items: center;
    justify-content: center;
}


#banerText {
    font-size: 25px;
    color: #0066ff;
    text-shadow: 2px 2px #d9d9d9;
}


/*------------MAIN------------*/


.white-background {
    position: absolute;
    height: 70%;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    background-color: white;
    box-shadow: 5px 5px 20px #cccccc;
}


#text1 {
    font-size: 40px;
    margin-top: 100px;
    text-align: center;
    color: #0066ff;
}

#text2 {
    text-align: center;
    color: #bfbfbf;
}


.allStuff {
    margin-top: 50px;
    height: 300px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}


#table {
    width: 100%;
}

.record {
    text-align: center;
}


i {
    margin-left: -20px;
    cursor: pointer;
}

input {
    -webkit-transition: 0.5s;
    font-size: 18px;
    height: 50px;
    width: 90%;
    border: none;
    border-bottom: 1px solid #bfbfbf;
    white-space: nowrap;
    overflow: hidden;
    background-color: white;
    color: black;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0
}

input:focus {
    border-bottom: 1px solid #0066ff;
    outline: none;
}

#forgot {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
}

#forgot-text {
    margin-left: 10px;
    font-size: 15px;
    color: #bfbfbf;
    text-decoration: none;
}

#forgot:hover {
    text-decoration: underline;
}


.submit-login {
    margin-top: 40px;
    width: 100%;
    height: 55px;
    display: flex;
    flex-direction: row;
}


#submit-div {
    width: 50%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.submit {
    width: 80%;
    height: 48px;
    border: none;
    border-radius: 6px;
    font-size: 25px;
    color: white;
    background-color: #0066ff;
}


#login-div {
    width: 50%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginText {
    font-size: 15px;
    color: #bfbfbf;
}


#loginLink {
    font-size: 15px;
    color: #0066ff;
    text-decoration: none;
}

#loginLink:hover {
    text-decoration: underline;
}










