body {
	background-color: #e9ebee;
	font-family: Arial, Helvetica, sans-serif;
}

/*------------BANER------------*/

.baner {
	position: absolute;
	top: 0;
	left: 0;
	height: 60px;
	width: 100%;
	display: flex;
	flex-direction: row;
	background-color: white;
	box-shadow: 10px 6px 5px #d9d9d9;
}

.textBaner {
	display: flex;
	width: 220px;
	align-items: center;
	justify-content: center;
}


#banerText {
	font-size: 25px;
	color: #0066ff;
	text-shadow: 2px 2px #d9d9d9;
}


/*------------MAIN------------*/

#mainEmail {
	/*
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-50%, 50%);
	*/
	width: 40%;
	height: 400px;
	border-radius: 6px;
	box-shadow: 5px 5px 20px #cccccc;
	margin: auto;
	margin-top: 180px;
	background-color: white;
}

#mainEmail #label {
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px;
}

#mainEmail #text1 {
    text-align: center;
	font-size: 35px;
	color: #0066ff;
}

#mainEmail #textDiv {
	display: flex;
	align-items: top;
	justify-content: center;
	height: 60px;
}

#mainEmail #text2 {
	margin: 0px;
	text-align: center;
	color: #bfbfbf;
}

#mainEmail #inputDiv {
    height: 60px;
    width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70px;
}

#mainEmail #input {
    -webkit-transition: 0.5s;
    font-size: 18px;
    line-height: 48px;
    width: 80%;
  	border: none;
  	border-bottom: 1px solid #bfbfbf;
  	white-space: nowrap;
  	overflow: hidden;
    background-color: white;
  	color: black;
}

#mainEmail #input:focus {
	border-bottom: 1px solid #0066ff;
	outline: none;
}

#mainEmail #buttonsDiv {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#mainEmail #backDiv {
    height: 60px;
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: center;
}

#mainEmail #back {
    margin-left: 70px;
    color: #bfbfbf;
	font-size: 20px;
    text-align: center;
    text-decoration: none;
}

#mainEmail #back:hover {
    text-decoration: underline;
}

#mainEmail #submitDiv {
    height: 60px;
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
}

#mainEmail #submit {
	padding: 0 20px;
	height: 50px;
	font-size: 25px;
	border: none;
	color: white;
	border-radius: 6px;
	margin-right: 70px;
	background-color: #1877f2;
}

@media (max-width:700px) {
    #mainEmail #buttonsDiv {
        flex-direction: column;
    }
    #mainEmail #back {
    	margin: auto;
    }

    #mainEmail #submit {
    	margin: auto;
    }
}













