body {
	overflow: auto;
    background-color: #e9ebee;
    font-family: Arial, Helvetica, sans-serif;
}


/*------------BANER------------*/

.baner {
	position: absolute;
	top: 0;
	left: 0;
	height: 60px;
	width: 100%;
	display: flex;
	flex-direction: row;
	background-color: white;
	box-shadow: 10px 6px 5px #d9d9d9;
}

.textBaner {
	display: flex;
	width: 220px;
	align-items: center;
	justify-content: center;
}


#banerText {
	font-weight: bold;
	margin: 0px;
	font-size: 25px;
	color: #0066ff;
	text-shadow: 2px 2px #d9d9d9;
}


#linkBaner {
	height: 60px;
	width: calc(100% - 220px);
}


#logoutLink {
	margin-right: 40px;
	font-size: 25px;
	text-decoration: none;
	color: black;
	background-color: white;
	border: none;
}


#logoutLink:hover {
	text-decoration: underline;
}

/*------------MAIN------------*/


.header {
	position: absolute;
	top: 60px;
	left: 0;
	height: 80px;
	width: 100%;
  	display: flex;
  	flex-direction: row;
}


.inputDiv {
	width: calc(100% - 200px);
	height: 80px;
	display: flex;
	align-items: center;
}

#myText {
    -webkit-transition: 0.5s;
	width: 98%;
	height: 50px;
	border: none;
	border-radius: 5px;
	font-size: 22px;
	display: flex;
	margin-left: 20px;
}

.buttonDiv {
	width: 200px;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
}


.add_button {
	font-size: 30px;
	height: 50px;
	min-width: 100px;
	padding: 0 20px;
	background-color: #66a3ff;
	border: none;
	border-radius: 5px;
	color: white;
}


#divHolder {
	position: absolute;
	top: 160px;
	left: 0;
	width: 100%;
	height: calc(100% - 160px);
}

#pos {
	position: absolute;
	margin-top: 10px;
	height: 760px;
	width: 100%;
}

.texts {
	position: absolute;
	top: 0;
	left: 0;
	height: 80px;
	width: 100%;
  	display: flex;
  	flex-direction: row;
}

.texts h1 {
	font-size: 30px;
	font-weight: bold;
	margin: 0px;
	color: #0066ff;
}

.text1 {
	min-width: 180px;
	width: 656px;
	margin-right: 20px;
	margin-left: 20px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	display: flex;
	justify-content: center;
  	align-items: center;
  	background-color: white;
}



.text2 {
	min-width: 180px;
	width: 656px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	display: flex;
	justify-content: center;
  	align-items: center;
  	background-color: white;
}


.text3 {
	min-width: 180px;
	width: 656px;
	margin-right: 20px;
	margin-left: 20px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	display: flex;
	justify-content: center;
  	align-items: center;
  	background-color: white;
}


.tasks {
	position: absolute;
	top: 80px;
	width: 100%;
	left: 0;
	height: 700px;
	display: flex;
  	flex-direction: row;
}

/*-----HOLDERS FOR TASKS-----*/
#tasks_all {
	min-width: 180px;
	width: 660px;
	margin-left: 20px;
	margin-right: 20px;
	height: 680px;
	display: flex;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	background-color: white;
	box-shadow: 0px 10px 10px -3px #cccccc;
}


#tasksHolder1 {
	display: flex;
	width: 80%;
	height: 620px;
	margin: auto;
	flex-direction: column;
	flex-wrap: wrap;
	overflow: auto;
}


#progress_task {
	min-width: 180px;
	width: 660px;
	height: 680px;
	display: flex;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	background-color: white;
	box-shadow: 0 10px 10px -3px #cccccc;
}

#tasksHolder2 {
	display: flex;
	width: 80%;
	height: 620px;
	margin: auto;
	flex-direction: column;
	flex-wrap: wrap;
	overflow: auto;
}


#task_end {
	min-width: 180px;
	width: 660px;
	margin-left: 20px;
	margin-right: 20px;
	height: 680px;
	display: flex;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	background-color: white;
	box-shadow: 0 10px 10px -3px #cccccc;
}

#tasksHolder3 {
	display: flex;
	width: 80%;
	height: 620px;
	margin: auto;
	flex-direction: column;
	flex-wrap: wrap;
	overflow: auto;
}


/*---------task----------*/
.taskBody {
    display: flex;
    flex-direction: column;
    height: 100px;
    margin: 10px;
    width: 200px;
    border-radius: 5px;
    background-color: #e6e6e6;
}


/*task belt*/
.taskBelt {
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 200px;
    border-top: 1px solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    justify-content: center;
    align-items: center;
}

.holderTask {
    height: 70px;
    width: 200px;
    display: flex;
    flex-direction: row;
}

.buttonRemoveDiv {
    width: 25px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: start;
}

.removeButton {
	font-size: 15px;
    width: 25px;
    height: 20px;
    margin-top: 5px;
    border: none;
    color: red;
    outline: none;
    text-align: center;
    cursor: pointer;
    background-color: #e6e6e6;
}

.textDiv {
    text-align: center;
    word-break:break-all;
    width: 135px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.text {
    font-size: 16px;
    margin: 0px;
}


.flag {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    width: 30px;
    height: 60px;
    box-sizing: content-box;
    position: relative;
    top: 0px;
    background-color: #0066ff;
    color: white;
    font-size: 11px;
    text-align: center;
}
.flag:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 13px solid #e6e6e6;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}

.flagButtonFirst, .flagButtonSecond {
    position: absolute;
    top: 10px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    animation-duration: 2s;
    animation-direction: normal;
    border: none;
    cursor: pointer;
}

.flagButtonFirst:focus, .flagButtonSecond:focus {
    outline: none;
}


.flagButtonFirst {
    background-color: #e6e6e6;
}
.flagButtonSecond {
    background-color: #FC0;
}

@keyframes flagButtonFirst {
    50%{width: 30px; height: 30px;};
    100%{width: 20px; height: 20px;};
}

@keyframes flagButtonSecond {
    50%{width: 30px; height: 30px;};
    100%{width: 20px; height: 20px;};
}

.taskBelt button {
    display: flex;
    margin: 4.5px;
    border-radius: 5px;
    border: none;
    min-width: 60px;
    padding: 0px 10px;
    height: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
}

.backButton {
	color: black;
	background-color: white;
}

.takeButton {
	color: white;
	background-color: #0066ff;
}

.completeButton {
	color: white;
	background-color: #0066ff;
}





