body {
	background-color: #e9ebee;
	overflow: auto;
	font-family: 'Trebuchet MS', sans-serif;
}


/*------------BANER------------*/

.baner {
	position: absolute;
	top: 0;
	left: 0;
	height: 60px;
	width: 100%;
	display: flex;
	flex-direction: row;
	background-color: white;
	box-shadow: 10px 6px 5px #d9d9d9;
}

.textBaner {
	display: flex;
	width: 220px;
	align-items: center;
	justify-content: center;
}


#banerText {
	font-size: 25px;
	color: #0066ff;
	text-shadow: 2px 2px #d9d9d9;
}


.linkBaner {
	height: 60px;
	width: calc(100% - 220px);
	display: flex;
	align-items: center;
	justify-content: right;
}


#logoutLink {
	margin-right: 40px;
	font-size: 25px;
	text-decoration: none;
	color: black;
	background-color: white;
	border: none;
}


#logoutLink:hover {
	text-decoration: underline;
}

/*------------MAIN------------*/


.header {
	position: absolute;
	top: 60px;
	left: 0;
	height: 80px;
	width: 100%;
  	display: flex;
  	flex-direction: row;
}


.inputDiv {
	width: calc(100% - 200px);
	height: 80px;
	display: flex;
	align-items: center;
}

#myText {
    -webkit-transition: 0.5s;
	width: 98%;
	height: 50px;
	border: none;
	border-radius: 5px;
	font-size: 22px;
	display: flex;
	margin-left: 20px;
}

.buttonDiv {
	width: 200px;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
}


.add_button {
	font-size: 30px;
	height: 50px;
	min-width: 100px;
	padding: 0 20px;
	background-color: #66a3ff;
	border: none;
	border-radius: 5px;
	color: white;
}


#divHolder {
	position: absolute;
	top: 160px;
	left: 0;
	width: 100%;
	height: calc(100% - 160px);
}

#pos {
	position: absolute;
	margin-top: 10px;
	height: 760px;
	width: 100%;
}

.texts {
	position: absolute;
	top: 0;
	left: 0;
	height: 80px;
	width: 100%;
  	display: flex;
  	flex-direction: row;
}

.texts h1 {
	color: #0066ff;
}

.text1 {
	min-width: 180px;
	width: 656px;
	margin-right: 20px;
	margin-left: 20px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	display: flex;
	justify-content: center;
  	align-items: center;
  	background-color: white;
}



.text2 {
	min-width: 180px;
	width: 656px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	display: flex;
	justify-content: center;
  	align-items: center;
  	background-color: white;
}


.text3 {
	min-width: 180px;
	width: 656px;
	margin-right: 20px;
	margin-left: 20px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	display: flex;
	justify-content: center;
  	align-items: center;
  	background-color: white;
}


.tasks {
	position: absolute;
	top: 80px;
	width: 100%;
	left: 0;
	height: 700px;
	display: flex;
  	flex-direction: row;
}

/*-----HOLDERS FOR TASKS-----*/
#tasks_all {
	min-width: 180px;
	width: 660px;
	margin-left: 20px;
	margin-right: 20px;
	height: 680px;
	display: flex;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	background-color: white;
	box-shadow: 0px 10px 10px -3px #cccccc;
}


#tasksHolder1 {
	display: flex;
	width: 80%;
	height: 620px;
	margin: auto;
	flex-direction: column;
	flex-wrap: wrap;
	overflow: auto;
}


#progress_task {
	min-width: 180px;
	width: 660px;
	height: 680px;
	display: flex;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	background-color: white;
	box-shadow: 0 10px 10px -3px #cccccc;
}

#tasksHolder2 {
	display: flex;
	width: 80%;
	height: 620px;
	margin: auto;
	flex-direction: column;
	flex-wrap: wrap;
	overflow: auto;
}


#task_end {
	min-width: 180px;
	width: 660px;
	margin-left: 20px;
	margin-right: 20px;
	height: 680px;
	display: flex;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	background-color: white;
	box-shadow: 0 10px 10px -3px #cccccc;
}

#tasksHolder3 {
	display: flex;
	width: 80%;
	height: 620px;
	margin: auto;
	flex-direction: column;
	flex-wrap: wrap;
	overflow: auto;
}


/*---------task----------*/
.taskBody {
	display: flex;
	flex-direction: column;
	height: 100px;
	margin: 10px;
	width: 200px;
	border-radius: 5px;
	background-color: #e6e6e6;
}


/*task belt*/
.taskBelt {
	display: flex;
	flex-direction: row;
	height: 30px;
	width: 200px;
	border-top: 1px solid;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
  	justify-content: center;
  	align-items: center;
}


.textDiv {
	text-align: center;
	word-break:break-all;
	width: 200px;
	height: 70px;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}


#takeButton {
	display: flex;
	margin: 4.5px;
	border-radius: 5px;
	border: none;
	width: 60px;
	height: 20px;
	background-color: #33cc33;
  	justify-content: center;
  	align-items: center;
}

#completeButton {
	display: flex;
	margin: 4.5px;
	border-radius: 5px;
	border: none;
	width: 60px;
	height: 20px;
	background-color: #33cc33;
  	justify-content: center;
  	align-items: center;	
}

#removeButton {
	display: flex;
	margin: 4.5px;
	border-radius: 5px;
	border: none;
	width: 60px;
	height: 20px;
	background-color: #ff0000;	
	justify-content: center;
  	align-items: center;
}





