body {
	background-color: #e9ebee;
	font-family: Arial, Helvetica, sans-serif;
}

/*------------BANER------------*/

.baner {
	position: absolute;
	top: 0;
	left: 0;
	height: 60px;
	width: 100%;
	display: flex;
	flex-direction: row;
	background-color: white;
	box-shadow: 10px 6px 5px #d9d9d9;
}

.textBaner {
	display: flex;
	width: 220px;
	align-items: center;
	justify-content: center;
}


#banerText {
	font-size: 25px;
	color: #0066ff;
	text-shadow: 2px 2px #d9d9d9;
}


/*------------MAIN------------*/

#mainVeryfi {
	height: 320px;
	width: 500px;
	border-radius: 6px;
	margin: auto;
	margin-top: 200px;
	box-shadow: 5px 5px 20px #cccccc;
	background-color: white;
}

#mainVeryfi #divText {
	width: 500px;
	height: 150px;
}

#mainVeryfi #hiDiv {
	height: 60px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #e5e5e5;
}

#mainVeryfi #infoDiv {
	padding: 0 10px;
}

#mainVeryfi #inputDiv {
	padding: 20px 0;
	width: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#mainVeryfi #code {
    -webkit-transition: 0.5s;
	height: 40px;
	width: 150px;
	font-size: 16px;
	border: 1px solid #8a8d91;
	border-radius: 6px;
	color: #8a8d91;
}

#mainVeryfi #buttonDiv {
	border-top: 1px solid #e5e5e5;
	height: 80px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: right;
}

#mainVeryfi #cancel {
	line-height: 36px;
	margin-right: 20px;
	padding: 0px 20px;
	border: none;
	border-radius: 6px;
	font-size: 16px;
	text-decoration: none;
	color: black;
	background-color: #e4e6eb;
}

#mainVeryfi #submit {
	color: white;
	margin-right: 20px;
	line-height: 36px;
	padding: 0 20px;
	border: none;
	border-radius: 6px;
	font-size: 16px;
	background-color: #0066ff;
}










































