body {
	background-image: url("images/background.jpeg");
}

.header {
	position: absolute;
	top: 0;
	left: 0;
	height: 80px;
	width: 100%;
  	display: flex;
  	flex-direction: row;
}


#myText {
	width: 90%;
	height: 50px;
	min-width: 50%;
	margin-top: 20px;
	margin-left: 30px;
	border: none;
	border-radius: 5px;
	font-size: 22px;
	display: flex;
}

.add_button {
	font-size: 40px;
	height: 47px;
	width: 90px;
	background-color: #11E58C;
	border: none;
	border-radius: 5px;
  	display: flex;
  	margin-left: 20px;
  	margin-right: 20px;
  	margin-top: 22px;
}

.texts {
	position: absolute;
	top: 80px;
	left: 0;
	height: 100px;
	width: 100%;
  	display: flex;
  	flex-direction: row;
}

.text1 {
	width: 580px;
	display: flex;
}

.all_task_text {
	margin-left: 36%;
	margin-right: 2%;
	margin-top: 25px;
}


.text2 {
	width: 580px;
	display: flex;
}

.tasks_in_progress {
	margin-left: 27%;
	margin-top: 25px
}

.text3 {
	width: 580px;
	display: flex;
}

.end_tasks {
	margin-left: 38%;
	margin-top: 25px
}


.vl1 {
	position: fixed;
	margin-left: 570px;
	margin-top: 12%;
	border-left: 4px solid black;
	height: 60%;
}

.vl2 {
	position: absolute;
	margin-left: 50px;
	margin-top: 12%;
	border-left: 4px solid black;
	height: 60%;
}


.tasks {
	position: absolute;
	width: 100%;
	top: 180px;
	left: 0;
	height: 700px;
	display: flex;
  	flex-direction: row;
}


#tasks_all {
	width: 580px;
	height: 700px;
	flex-wrap: wrap;
	display: flex;
	flex-direction: column;
}


#task0 {
	display: flex;
  	justify-content: center;
  	align-items: center;
	height: 100px;
	width: 200px;
	margin: 10px;
	border-radius: 5px;
	background-color: #ea069e;
}


#taskBelt {
	display: flex;
	flex-direction: row;
	position: absolute;
	margin-top: 70px;
	height: 30px;
	width: 200px;
	border-top: 1px solid;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}



#progressButton {
	display: flex;
	margin-left: 90px;
	margin-top: 4.5px;
	border-radius: 5px;
	border: none;
	width: 50px;
	height: 20px;
	background-color: green;
  	justify-content: center;
  	align-items: center;
}

#deleteButton {
	display: flex;
	margin-top: 4.5px;
	margin-left: 5px;
	border-radius: 5px;
	border: none;
	width: 50px;
	height: 20px;
	background-color: red;	
	justify-content: center;
  	align-items: center;
}


#progress_task {
	width: 579px;
	border-left: 3px solid black;
	border-right: 3px solid black;
	flex-wrap: wrap;
	display: flex;
	flex-direction: column;
}


#task_end {
	width: 579px;
	flex-wrap: wrap;
	display: flex;
	flex-direction: column;
}


