body {
	background-color: #0C3DBA;
}

.header {
	position: absolute;
	top: 0;
	left: 0;
	height: 80px;
	width: 100%;
  	display: flex;
  	flex-direction: row;
}


#myText {
	width: 90%;
	height: 50px;
	min-width: 50%;
	margin-top: 20px;
	margin-left: 30px;
	border: none;
	border-radius: 5px;
	font-size: 22px;
	display: flex;
}

.add_button {
	font-size: 40px;
	height: 47px;
	width: 90px;
	background-color: #11E58C;
	border: none;
	border-radius: 5px;
  	display: flex;
  	margin-left: 20px;
  	margin-right: 20px;
  	margin-top: 22px;
}

.texts {
	position: absolute;
	top: 9%;
	left: 0;
	height: 100px;
	width: 100%;
  	display: flex;
  	flex-direction: row;
}

.text1 {
	width: 31%;
}

.all_task_text {
	margin-left: 34%;
	margin-top: 10%;
	display: flex;
}

.text2 {
	width: 36%;
}

.tasks_in_progress {
	margin-left: 32%;
	margin-top: 10%;
	display: flex;
}

.text3 {
	width: 36%;
}

.end_tasks {
	margin-left: 38%;
	margin-top: 10%;
	display: flex;
}


.vl1 {
	position: fixed;
	margin-left: 30%;
	margin-top: 12%;
	border-left: 4px solid black;
	height: 60%;
}

.vl2 {
	position: absolute;
	margin-left: 66%;
	margin-top: 12%;
	border-left: 4px solid black;
	height: 60%;
}


#tasks {
	position: absolute;
	width: 17%;
	margin-left: 7%;
	top: 24%;
}

#tasks div {
	display: flex;
  	justify-content: center;
  	align-items: center;
	height: 80px;
	width: 200px;
	margin: 10px;
	background-color: #760ACB;
}