.main {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(to right, #00ffff, #cc33ff);
}

.white-background {
	position: absolute;
	height: 70%;
	width: 50%;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	border-radius: 6px;
	background-color: white;
}


#text1 {
	font-size: 40px;
	margin-top: 100px;
	text-align: center;
	color: #00ffff;
	font-family: Arial, Helvetica, sans-serif;
}

#text2 {
	text-align: center;
	color: #bfbfbf;
	font-family: Arial, Helvetica, sans-serif;
}


.allStuff {
	margin-top: 50px;
	height: 300px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
}

.login-email {
	margin-top: 20px;
	width: 100%;
	height: 53px;
	display: flex;
	flex-direction: row;
}

.Login {
	width: 50%;
	height: 53px;	
}

#login {
    font-size: 18px;
    height: 50px;
    width: 90%;
  	border: none;
  	border-bottom: 1px solid #bfbfbf;
  	white-space: nowrap;
  	overflow: hidden;
    background-color: white;
  	color: black;
}

#login:focus {
	border-bottom: 1px solid #00ffff;
	outline: none;
}


.Email {
	width: 50%;
	height: 53px;
}


#email {
    font-size: 18px;
   	height: 50px;
    width: 90%;
  	border: none;
  	border-bottom: 1px solid #bfbfbf;
  	white-space: nowrap;
  	overflow: hidden;
    background-color: white;
  	color: black;
}

#email:focus {
	border-bottom: 1px solid #00ffff;
	outline: none;
}


.passwords {
	margin-top: 30px;
	width: 100%;
	height: 53px;
	display: flex;
	flex-direction: row;
}

.passwd1 {
	width: 50%;
	height: 53px;	
}

#passwd {
    font-size: 18px;
    height: 50px;
    width: 90%;
  	border: none;
  	border-bottom: 1px solid #bfbfbf;
  	white-space: nowrap;
  	overflow: hidden;
    background-color: white;
  	color: black;
}

#passwd:focus {
	border-bottom: 1px solid #00ffff;
	outline: none;
}

.passwd2 {
	width: 50%;
	height: 53px;
}


#rPasswd {
    font-size: 18px;
   	height: 50px;
    width: 90%;
  	border: none;
  	border-bottom: 1px solid #bfbfbf;
  	white-space: nowrap;
  	overflow: hidden;
    background-color: white;
  	color: black;
}

#rPasswd:focus {
	border-bottom: 1px solid #00ffff;
	outline: none;
}


#forgot {
	margin-top: 20px;
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: left;
	align-items: center;
}

#forgot-text {
	margin-left: 10px;
	font-size: 15px;
	color: #bfbfbf;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}

#forgot:hover {
	text-decoration: underline;
}


.submit-login {
	margin-top: 40px;
	width: 100%;
	height: 55px;
	display: flex;
	flex-direction: row;
}


#submit-div {
	width: 50%;
	height: 55px;
	display: flex;
	justify-content: center;
  	align-items: center;
}



.submit {
	width: 80%;
	height: 48px;
    border: none;
    border-radius: 6px;
    font-size: 25px;
    color: white;
    background-image: linear-gradient(to right, #ff00ff, #6600ff);
}


#login-div {
	width: 50%;
	height: 55px;
	display: flex;
	justify-content: center;
  	align-items: center;
}

#loginText {
	font-size: 15px;
	color: #bfbfbf;
	font-family: Arial, Helvetica, sans-serif;
}


#loginLink {
	font-size: 15px;
	color: #00ffff;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}

#loginLink:hover {
	text-decoration: underline;
}










