body {
	font-family: Arial, Helvetica, sans-serif;
	background-image: linear-gradient(to right, #00ffff, #cc33ff);
}


#content {
	position: absolute;
	left: 50%;
	top: 0px;
	height: 500px;
	width: 40%;
	transform: translate(-50%, 40%);
	border-radius: 6px;
	background-color: white;
}

#textHolder {
	margin-top: 30px;
	height: 140px;
	width: 100%;
	display: flex;
	flex-direction: column;
}

#textDiv1 {
	height: 100px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#text1 {
	margin: 0px;
	font-size: 40px;
	text-align: center;
	color: #00ffff;
}

#textDiv2 {
	height: 30px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#text2 {
	text-align: center;
	margin: 0px;
	color: #bfbfbf;
}

#stuff {
	margin-right: auto;
	margin-left: auto;
	height: 300px;
	width: 80%;

}

#inputsDiv {
	height: 200px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.input {
    font-size: 18px;
    line-height: 48px;
    margin: 10px;
    width: 90%;
  	border: none;
  	border-bottom: 1px solid #bfbfbf;
  	white-space: nowrap;
  	overflow: hidden;
    background-color: white;
  	color: black;
}

.input:focus {
	border-bottom: 1px solid #00ffff;
	outline: none;
}

i {
	margin-left: -40px;
	cursor: pointer;
}

#submitDiv {
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: right;
}

#button {
	width: 100px;
	height: 48px;
    border: none;
    margin-top: 10px;
    border-radius: 6px;
    font-size: 25px;
    color: white;
    background-image: linear-gradient(to right, #ff00ff, #6600ff);
}






