body {
	background-image: url("../images/background.jpeg");
	overflow: auto;
	font-family: 'Trebuchet MS', sans-serif;
}

.baner {
	position: absolute;
	top: 0;
	left: 0;
	height: 80px;
	width: 100%;
	background-color: grey;
	display: flex;
	flex-direction: row;
}


.textBaner {
	display: flex;
	height: 80px;
	width: 220px;
	align-items: center;
	justify-content: center;
}


#banerText {
	font-size: 32px;
	color: white;
}


.linkBaner {
	height: 80px;
	width: calc(100% - 220px);
	display: flex;
	align-items: center;
	justify-content: right;
}


#logoutLink {
	font-size: 32px;
	margin-right: 10px;
	text-decoration: none;
	color: white;
}


#logoutLink:hover {
	text-decoration: underline;
}


.header {
	position: absolute;
	top: 80px;
	left: 0;
	height: 80px;
	width: 100%;
  	display: flex;
  	flex-direction: row;
}


.inputDiv {
	width: calc(100% - 170px);
	height: 80px;
	display: flex;
	align-items: center;
}

#myText {
	width: 98%;
	margin-left: ;
	height: 50px;
	border: none;
	border-radius: 5px;
	font-size: 22px;
	display: flex;
	margin-left: 11px;
	margin-right: 11px;
}

.buttonDiv {
	width: 170px;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
}


.add_button {
	font-size: 40px;
	height: 50px;
	width: 100px;
	background-color: #11E58C;
	border: none;
	border-radius: 5px;
}

.main {
	position: absolute;
	top: 160px;
	left: 0;
	width: 100%;
	height: calc(100% - 160px);
}


.texts {
	position: absolute;
	top: 0;
	left: 0;
	height: 80px;
	width: 100%;
  	display: flex;
  	flex-direction: row;
}

.text1 {
	min-width: 180px;
	width: 700px;
	display: flex;
	justify-content: center;
  	align-items: center;
}



.text2 {
	min-width: 180px;
	width: 700px;
	display: flex;
	justify-content: center;
  	align-items: center;
}


.text3 {
	min-width: 180px;
	width: 700px;
	display: flex;
	justify-content: center;
  	align-items: center;
}


.tasks {
	position: absolute;
	top: 80px;
	width: 100%;
	left: 0;
	height: 680px;
	display: flex;
  	flex-direction: row;
}


#tasks_all {
	min-width: 180px;
	width: 700px;
	height: 100%;
	display: flex;
}


#tasksHolder1 {
	display: flex;
	width: 77%;
	height: 620px;
	margin: auto;
	flex-direction: column;
	flex-wrap: wrap;
	overflow: auto;
}


/*task*/
.taskClass {
	display: flex;
	flex-direction: column;
	height: 100px;
	margin: 10px;
	width: 200px;
	border-radius: 5px;
	background-color: #ea069e;
}


/*task belt*/
.taskBelt {
	display: flex;
	flex-direction: row;
	height: 30px;
	width: 200px;
	border-top: 1px solid;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
  	justify-content: center;
  	align-items: center;
}


.textDiv {
	text-align: center;
	word-break:break-all;
	width: 200px;
	height: 70px;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}




#progressButton {
	display: flex;
	margin: 4.5px;
	border-radius: 5px;
	border: none;
	width: 60px;
	height: 20px;
	background-color: green;
  	justify-content: center;
  	align-items: center;
}

#endButton {
	display: flex;
	margin: 4.5px;
	border-radius: 5px;
	border: none;
	width: 60px;
	height: 20px;
	background-color: green;
  	justify-content: center;
  	align-items: center;	
}

#deleteButton {
	display: flex;
	margin: 4.5px;
	border-radius: 5px;
	border: none;
	width: 60px;
	height: 20px;
	background-color: red;	
	justify-content: center;
  	align-items: center;
}



#progress_task {
	min-width: 180px;
	width: 700px;
	height: 100%;
	border-left: 3px solid black;
	border-right: 3px solid black;
	display: flex;
}

#tasksHolder2 {
	display: flex;
	width: 77%;
	height: 620px;
	margin: auto;
	flex-direction: column;
	flex-wrap: wrap;
	overflow: auto;
}


#task_end {
	min-width: 180px;
	width: 700px;
	height: 100%;
	display: flex;
}

#tasksHolder3 {
	display: flex;
	width: 77%;
	height: 620px;
	margin: auto;
	flex-direction: column;
	flex-wrap: wrap;
	overflow: auto;
}



